*

!.gitignore

!niri/
!niri/**
!nvim/
!nvim/**
!starship.toml
!walker/
!walker/**
!waybar/
!waybar/**
!obsidian/
!obsidian/**
!nvim/
!nvim/**
!kitty/
!kitty/**
!keepassxc/
!keepassxc/**
!jj/
!jj/**
!git/
!git/**
!autostart/
!autostart/**
!btop/
!btop/**
!elephant/
!elephant/**
!fastfetch/
!fastfetch/**
!ranger/
!ranger/**
ranger/**/__pycache__/
ranger/**/*.pyc
!zen/
!zen/**
# re-ignore profile junk
zen/**/.parentlock
zen/**/lock
zen/**/*.sqlite*
zen/**/*.lz4*
zen/**/addonStartup.json.lz4
zen/**/AlternateServices.bin
zen/**/SiteSecurityServiceState.bin
zen/**/cert9.db
zen/**/key4.db
zen/**/logins.json
zen/**/logins-backup.json
zen/**/logins.db
zen/**/search.json.mozlz4
zen/**/storage/
zen/**/storage/**
zen/**/sessionstore-backups/
zen/**/sessionstore-backups/**
zen/**/bookmarkbackups/
zen/**/bookmarkbackups/**
zen/**/datareporting/
zen/**/datareporting/**
zen/**/security_state/
zen/**/security_state/**
zen/**/settings/
zen/**/settings/**
zen/**/extension-store/
zen/**/extension-store/**
zen/**/extension-store-menus/
zen/**/extension-store-menus/**
zen/**/extensions/
zen/**/extensions/**
zen/**/features/
zen/**/features/**
zen/**/gmp-*/
zen/**/gmp-*/**

# session/runtime junk
zen/**/broadcast-listeners.json
zen/**/sessionCheckpoints.json
zen/**/times.json
zen/**/notificationstore.json
zen/**/serviceworker.txt
zen/**/enumerate_devices.txt
zen/**/shield-preference-experiments.json
zen/**/zen-sessions.jsonlz4*
zen/**/zen-sessions-backup/
zen/**/zen-sessions-backup/**
zen/**/zen-live-folders.jsonlz4*
!systemd/
!systemd/**
