*

!.gitignore

!niri/
!niri/**
!nvim/
!nvim/**
!starship.toml
!walker/
!walker/**
!waybar/
!waybar/**
!obsidian/
!obsidian/**
!nvim/
!nvim/**
!kitty/
!kitty/**
!keepassxc/
!keepassxc/**
!jj/
!jj/**
!git/
!git/**
!autostart/
!autostart/**
!btop/
!btop/**
!elephant/
!elephant/**
!fastfetch/
!fastfetch/**
!ranger/
!ranger/**
ranger/**/__pycache__/
ranger/**/*.pyc
!systemd/
!systemd/**
!.zshrc
!.tmux.conf
