spawn-at-startup "quickshell" "--config" "fancy-bar"
spawn-at-startup "walker" "--gapplication-service"
spawn-at-startup "udiskie" "--automount" "--tray"
spawn-at-startup "swayidle" "-w" "timeout" "290" "swaylock -kfFel -i /home/timo/Pictures/walpapers/mountains.jpg" "timeout" "300" "niri msg action power-off-monitors" "timeout" "600" "systemctl suspend-then-hibernate";
spawn-at-startup "rclone mount onedrive: /home/timo/Onedrive --vfs-cache-mode writes"
spawn-at-startup "/usr/bin/lxqt-policykit-agent"
spawn-at-startup "awww-daemon"
