output "DP-1" {
    mode "1920x1080"
    scale 1
    position x=0 y=-500
    transform "90"
}

output "HDMI-A-1" {
    mode "1920x1080"
    scale 1
    position x=1080 y=0
}

output "DP-2" {
    mode "1920x1080"
    scale 1
    position x=3000 y=0
}

output "Virtual-1" {
  mode "1920x1080@60"
  position x=-1920 y=0
  scale 1.0
}

// output "DP-1" {
//     mode "1920x1080"
//     scale 1
//     position x=0 y=-500
// }
//
// output "HDMI-A-1" {
//     mode "1920x1080"
//     scale 1
//     position x=1920 y=0
// }
//
// output "DP-2" {
//     mode "1920x1080"
//     scale 1
//     position x=3840 y=0
// }
