[Unit]
Description=Rclone OneDrive Mount
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount cloudWolf: %h/CloudWolf

ExecStop=/bin/fusermount -u %h/Onedrive
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
