[Unit]
Description=Rclone OneDrive Mount
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount onedrive: %h/Onedrive \
  --vfs-cache-mode writes \
  --dir-cache-time 1h \
  --poll-interval 1m

ExecStop=/bin/fusermount -u %h/Onedrive
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
